.navbar  {
    background: black;      
}

/* Popup background */
.popup {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
}

/* Popup box */
.popup-content {
  background: #945454;
  margin: 15% auto;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
  text-align: center;
}

/* Close button */
.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #e78f74;
  color: white;
  border-radius: 8px;
}

#openPopup {
  color: white;
  background-color: brown;
}

.nav-link {
  display:inline-block;
}

#hero_section_dog {
  width: 100%;
}

#x_button {
  border-radius: 100px;
  border-color: brown;
  margin-right: -90%;
  margin-top: -50%;
}